# Node.js dependencies
node_modules/
node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
temp/

# Uploads directory
uploads/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Test files
public/admin.html
public/faq.html
public/landing.html
public/trial.html
public/login.html
